# Building Classifiers

In [1]:
import Classification_Utils as cu
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

## Load and combine data from all tissues

In [2]:
df = pd.read_csv('../../Data/Distribution-Data-Set/train_transcriptomics_distribution.csv')
df_test = pd.read_csv('../../Data/Distribution-Data-Set/test_transcriptomics_distribution.csv')
print(df.shape)
print(df_test.shape)

(82, 28058)
(82, 28058)

In [3]:
df.head()
df_test.head()

,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,labels
0,4.02,2.16,3.27,13.39,5.88,6.79,1.55,0.97,10.34,1.96,...,10.73,8.40,9.78,10.88,5.93,11.52,10.23,11.50,11.47,real
1,5.31,4.87,5.59,13.77,6.35,4.22,2.97,0.00,8.68,1.98,...,10.41,9.10,9.59,10.15,7.89,11.90,10.21,11.34,11.51,real
2,5.03,5.59,4.82,14.13,7.65,7.75,1.59,1.01,9.61,1.59,...,9.22,9.07,9.51,11.06,7.29,11.60,10.19,11.57,11.32,real
3,3.17,3.56,3.98,13.49,6.48,5.88,2.23,1.16,9.71,1.16,...,10.65,8.77,9.83,11.36,7.43,11.72,10.87,11.81,11.92,real
4,6.02,5.90,7.73,14.30,7.76,8.47,3.47,1.18,9.98,2.26,...,7.82,9.32,9.97,11.48,8.07,11.93,10.86,12.20,11.84,real

## Map each column to a corresponding label

In [4]:
column_names = df.columns.values.tolist()
#seporate labels from the main data
labels = df['labels']
df = df.drop(columns=['labels'])
#impute the NA with 0
df = df.fillna(0)

labels_test = df_test['labels']
df_test = df_test.drop(columns=['labels'])
#impute the NA with 0
df_test = df_test.fillna(0)

df.head()
df_test.head()

,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,4.02,2.16,3.27,13.39,5.88,6.79,1.55,0.97,10.34,1.96,...,11.06,10.73,8.40,9.78,10.88,5.93,11.52,10.23,11.50,11.47
1,5.31,4.87,5.59,13.77,6.35,4.22,2.97,0.00,8.68,1.98,...,10.29,10.41,9.10,9.59,10.15,7.89,11.90,10.21,11.34,11.51
2,5.03,5.59,4.82,14.13,7.65,7.75,1.59,1.01,9.61,1.59,...,9.23,9.22,9.07,9.51,11.06,7.29,11.60,10.19,11.57,11.32
3,3.17,3.56,3.98,13.49,6.48,5.88,2.23,1.16,9.71,1.16,...,10.56,10.65,8.77,9.83,11.36,7.43,11.72,10.87,11.81,11.92
4,6.02,5.90,7.73,14.30,7.76,8.47,3.47,1.18,9.98,2.26,...,9.46,7.82,9.32,9.97,11.48,8.07,11.93,10.86,12.20,11.84

## Make train-test split

In [5]:
# train_df, test_df, train_labels, test_labels = train_test_split(
#     df, labels, 
#     test_size=0.00,    # 30% of the data held out in test set
#     random_state=0,    # Setting random_state ensures the same train/test split occurs each time this is run
#     stratify=labels)   # Maintain ratio of tissues represented in each set

# train_features = train_df.columns.values.tolist()

In [6]:
# std_scaler = StandardScaler()
# train_df = std_scaler.fit_transform(train_df)
# test_df = std_scaler.fit_transform(test_df)

# min_max_scaler = MinMaxScaler()
# min_max_train_df = min_max_scaler.fit_transform(train_df)
# min_max_test_df = min_max_scaler.fit_transform(test_df)

## Train various classifiers, using cross-validation to produce an accuracy score (Supplementary Figure XXX)

In [7]:
NUM_SPLITS = 100 # number of train/test splits in cross validation

In [8]:
import time

### KNN

In [9]:
start = time.time()
knn = cu.knn_model_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

accuracy: 0.99 (+/- 0.03)
Runtime: 0.44481664498647056 minutes

In [ ]:
#MLP TESTING AREA
start = time.time()
mlp = cu.mlp_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

### Logistic Regression

In [ ]:
start = time.time()
lr = cu.logistic_regression_model_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

### Naive Bayes
* Gaussian
* Multinomial

In [ ]:
start = time.time()
gnb = cu.bayes_gaussian_model_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

### SVC

In [ ]:
start = time.time()
svc = cu.SVC_model_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

### Aggregations
* Random Forest
* Gradient Boosting

In [ ]:
start = time.time()
rf = cu.randomforest_model_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

In [ ]:
start = time.time()
gbc = cu.gradient_boosting_crossval(df, labels, NUM_SPLITS)
end = time.time()
print("Runtime:", (end - start)/60, "minutes")

## Classify Training Set

### Use models from notebook to predict new data

In [16]:
### This is commented out so that you do not call predictinos until you are done finalizing the training sets!!!
### DO NOT RUN MORE THAN ONCE! THAT IS CHEATING MYREE!
# lr_pred = lr.predict(df_test)
# lr_result = lr.score(df_test, labels_test)

# rf_pred = rf.predict(df_test)
# rf_result = rf.score(df_test, labels_test)

# svc_pred = svc.predict(df_test)
# svc_result = svc.score(df_test, labels_test)

# gbc_pred = gbc.predict(df_test)
# gbc_result = gbc.score(df_test, labels_test)

# gnb_pred = gnb.predict(df_test)
# gnb_result = gnb.score(df_test, labels_test)

# knn_pred = knn.predict(df_test)
# knn_result = knn.score(df_test, labels_test)

# mlp_pred = mlp.predict(df_test)
# mlp_result = mlp.score(df_test, labels_test)

In [17]:
print(lr_result)
#print(mnb_result)
print(rf_result)
print(svc_result)
print(gbc_result)
print(gnb_result)
print(knn_result)
print(mlp_result)
results = [lr_result,rf_result,svc_result,gbc_result,gnb_result,knn_result,mlp_result]
learners = ['Logistic Regression','Random Forest','SVC','GBC','Naive Bayes','KNN','MLP']
final = pd.DataFrame({'score':results,'learner':learners})
final.head()

NameError: name 'lr_result' is not defined

In [ ]:
import seaborn as sns
sns.set(style="whitegrid",rc={'figure.figsize':(11.7,8.27)})

b = sns.barplot(data=final, x="learner", y="score")
b.axes.set_title('Learner Test Accuracies on Random Data',fontsize=30)
b.set_xlabel("Machine Learning Model",fontsize=20)
b.set_ylabel("Accuracy",fontsize=20)
fig = b.get_figure()
fig.savefig("random-classification-accuracies-test.png")